<style>
img{
width:100%;
max-width: 100%;
height: auto;
}
</style>
<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="top form-group">
      <img class="mr-2 rounded"> <%= image_tag ('/uploads/tmp/EC-Shopping.png'), :size =>'500x500' %></img>
    </div>
  </div>

  <div class="col-sm-12 col-md-6">
    <div class="text-center">
      <h1>ログイン</h1>
    </div>
    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>

    <div class="form-group mt-5">
      <%= f.label :email, 'メールアドレス' %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    
    <div class="form-group mt-4 mb-5">
      <%= f.label :password, 'パスワード' %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    
    <%= f.submit 'ログイン', class: 'btn btn-primary btn-block' %>
    <% end %>
    
    <p class="mt-3">アカウントを持っていませんか？<%= link_to 'アカウント登録', signup_path %></p>
  </div>
</div>