  <%if flash[:danger] != nil%>
  <%= form_with(model: @user_item, local: true)do |f| %>
    <%= render 'layouts/error_messages', model: f.object%>
  <% end %>
  <%end%>
<h1 class="midashi mb-5 san-font">商品購入画面</h1>
<%=link_to '購入履歴へ',user_items_path, method: :get,class: 'btn btn-light '%>
<div class="row">
  <div class="col-md-3 mt-5">
    <table class="table table-bordered category_main category_font table-hover">
      <tr>
        <td><%= link_to '全てのカテゴリ' ,category_path(id: 999) %></td>
      </tr>
      <% category_all.each do |f| %>
      <tr>
        <td><%= link_to f.category ,category_path(id: f.id) %></td>
      </tr>
      <% end %>
    </table>
  </div>
  <div class="col-md-9">

        <%= form_with(scope: :search, url: search_path, method: :get, local: true) do |f| %>
        <div class="mb-2 form-group form-inline">
          <label class="mr-2 marukakomi form-control" style="width:97px;">商品名検索</label>
          <div class="input-group inline-block">
            <%= f.text_field :name,:value =>session[:name],:size =>"60",class:'form-control',placeholder:'検索ワード' %>
            <%= f.hidden_field :category_id ,:value =>session[:category_id]%>
            <div class="input-group-append">
              <%= f.submit '検索',class: 'btn-light btn-block text-center btn-sm' %>
            </div>
          </div>
        <% end %>
    </div>
      <h4 class="mt-3"><span class="badge badge-info p-2">カテゴリ：
      <% if session[:category] %>
        <%= session[:category] %></span></h4>
      <% else%>
        全てのカテゴリ</span></h4>
      <%end%>
    
    <div class="mt-3">
      <ul class="list-unstyled">
        <% @items.each do |item| %>
          <li class="media mb-3 border-bottom border-primary">
            <%if item.image.present? %>
              <img class="mr-2 rounded" src="<%= item.image %>" width="100" alt="">
            <%else%>
              <img class="mr-2 rounded"> <%= image_tag ('/uploads/tmp/NO_IMAGE.png'), :width =>'100' %></img>
            <%end%>
            <div class="media-body">
              <label class="ml-4">商品名：<%= item.name %></label><br>
              <label class="ml-4">価格：<%= item.price %>円</label><br>
              <label class="ml-4">説明：<%= item.content %></label>
            </div>
            <div clas="form-group form-inline">
            <label class="mr-3 border_black">在庫数：<%= item.stock %></label>
              <div class="input-group-append">
            <label>購入数：</label>
            <%= form_with(model: @user_items=current_user.user_items.build, local: true)do |f| %>
              <%= hidden_field_tag :item_id, item.id %>
              <%= f.number_field :quantity, min:1,max:10000,step:1, class: 'pl-1' %>
              <%= f.submit '購入', data: { confirm: "購入を確定させますか?" }, class: 'btn-primary btn-block btn-sm mt-4' %>
            <% end %>
              </div>
            </div>
          </li>
        <% end %>
        <%= paginate @items %>
      </ul>
    </div>
  </div>
</div>
