<h2><%= @user2.name %> 様</h2>
　<p>この度、商品の購入が完了致しました。<br>
　以下商品登録者へ、商品の発送依頼を通知しております。</p>
  
  <p>-----------------------------------</p>
  <p>商品登録者：<%= @user1.name %></p>
  <br>
  <p>＜購入情報＞</p>
  <p>購入商品：<%= @item.name %></p>
  <p>購入数：<%= @user_item.quantity %></p>
  <p>合計金額：<%= @item.price * @user_item.quantity%>円</p>
  <p>-----------------------------------</p>

  <p>今後とも、EC-Shoppingをよろしくお願いいたします。</p>
