<h1 class="mb-5">商品購入結果</h1>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <div class="form-group">
        <%if @item.image.present? %>
            <img class="mr-2 rounded" src="<%= @item.image %>" width="200" alt="">
        <%else%>
            <img class="mr-2 rounded"> <%= image_tag ('/uploads/tmp/NO_IMAGE.png'), :width =>'200' %></img>
        <%end%>
    </div>
  </div>

<div class="col-sm-12 col-md-8">
<table class="table table-bordered">
    <tr>
        <th>商品名</th>
        <td><%= @user_item.item.name %></td>
    </tr>
    <tr>
        <th>価格</th>
        <td><%= @user_item.item.price %>円</td>
    </tr>
    <tr>
        <th>数量</th>
        <td><%= @user_item.quantity %></td>
    </tr>
    <tr>
        <th>合計金額</th>
        <% all = @user_item.quantity.to_i * @user_item.item.price.to_i %>
        <td><%= all %>円</td>
    </tr>
    <tr>
        <th>振込先</th>
        <td>商品登録者：<%= @item.user.name %><br>銀行名　　：<%= @item.user.bank %><br>口座番号　：<%= @item.user.account_number %></td>
    </tr>
</table>

<%=link_to '購入履歴へ',user_items_path, method: :get,class: 'btn btn-light'%>

</div>