<%= form_with(model: @item, local: true) do |f| %>
<%= render 'layouts/error_messages', model: f.object %>

<h1 class="mb-5">商品の新規登録ページ</h1>

<div class="row">
  <aside class="col-sm-12 col-md-4">
   <div class="form-group">
     <img class="mr-2 rounded">
    <%if @item.image.present? %>
      <%= image_tag @item.image , id: :img_prev, :width =>'200' %>
    <%else%>
      <%= image_tag ('/uploads/tmp/NO_IMAGE.png'), id: :img_prev, :width =>'200' %>
    <%end%> 
    </img>
    <%= f.file_field :image,class:'mt-3' ,id: :botton_img%>
    </div>
  </aside>

  <div class="col-sm-12 col-md-8">
    <div class="form-group">
      <%= f.label :name, '商品名' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :price, '価格(円)' %>
      <div class="col-sm-4 col-md-4 row">
        <%= f.text_field :price, class: 'form-control' %>
      </div>
    </div>
  
    <div class="form-group">
      <%= f.label :category, 'カテゴリー' %>
      <div class="col-sm-4 col-md-4 row">
        <%= f.collection_select :category_id, Category.all,:id,:category,{include_blank: true},{class: 'form-control'}  %>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :stock, '在庫数' %>
      <div class="col-sm-3 col-md-3 row">
        <%= f.number_field :stock, min:1,max:10000,step:1 ,class: 'form-control'%>
      </div>
    </div>
  
    <div class="form-group">
      <%= f.label :content, '説明' %>
      <%= f.text_area :content, class: 'form-control' %>
    </div>
  
    <%= f.submit '商品登録', class: 'btn btn-primary' %>
    <%= link_to '一覧へ戻る', items_path, class: 'btn btn-light' %>
  </div>
</div>
<% end %>

<script type="text/javascript">
  $(function() {
    function readURL(input) {
        if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
    $('#img_prev').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
        }
    }
    $("#botton_img").change(function(){
        readURL(this);
    });
  });
</script>
