<h1 class="mb-5"><%= @item.name %>の商品詳細ページ</h1>
<div class="row">
    <div class="col-sm-12 col-md-4">
        <div class="form-group">
        <%if @item.image.present? %>
            <img class="mr-2 rounded" src="<%= @item.image %>" width="200" alt="">
        <%else%>
          <img class="mr-2 rounded"> <%= image_tag ('/uploads/tmp/NO_IMAGE.png'), :width =>'200' %></img>
        <%end%>
        </div>
    </div>

    <div class="col-sm-12 col-md-8">
    <table class="table table-bordered main">
        <tr>
            <th>id</th>
            <td><%= @item.id %></td>
        </tr>
        <tr>
            <th>商品名</th>
            <td><%= @item.name %></td>
        </tr>
        <tr>
            <th>価格</th>
            <td><%= @item.price %>円</td>
        </tr>
        <tr>
            <th>カテゴリ</th>
            <td><%= @item.category.category %></td>
        </tr>
        <tr>
            <th>在庫数</th>
            <td><%= @item.stock %></td>
        </tr>
        <tr>
            <th>説明</th>
            <td><%= @item.content %></td>
        </tr>
    </table>
    <%=link_to 'この商品を編集する',edit_item_path(@item),class: 'btn btn-primary'%>
    <%= link_to 'この商品を削除する', @item, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>
    <%= link_to '一覧へ戻る', items_path, class: 'btn btn-light' %>
    </div>
</div>